<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Create new Note</title>
</head>
<body>
    <h1>Create new Note</h1>
    <form action="/" method="post">
    <ul>
        <li>
            <div>
                <label for="title">Title</label>    
                <input type="text" name="title" id="title">
            </div>
            <div>
                <label for="content">Note</label>
                <input type="text" name="content" id="content">
            </div>
            <br>
                <button type="submit">Create</button>
        </li>
    </ul>
    </form>
    <a href="/">See all notes</a>
</body>
</html>